
#h1
{
    text-align: center;
    color: black;
}

#h2
{
    text-align: center;
}

#dc
{
    text-align: center;
}

#owner
{
    text-align: center;
    color: blue;
}

body
{
  height: 1000px;
  background: linear-gradient(-45deg, #ee7752, #9966ff, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
}

#o1
{
    text-align: center;
}

#o2
{
    text-align: center;
}
