#h1
{
    text-align: center;
    color: black;
}

#h2
{
    text-align: center;
}

#dc
{
    text-align: center;
}

#owner
{
    text-align: center;
}

body
{
    font-family: 'Lato', sans-serif;
    background: linear-gradient(-119deg, #ee7752, #9966ff, #23a6d5, #23d5ab);
    height: 1080px;
}

#o1
{
    text-align: center;
}

#o2
{
    text-align: center;
}

#h3
{
    text-align: center;
    color: red;
}

.linkautor { 
    color: #000;
    display: inline-block;
    padding: 5px;
    border-bottom: 0.4px solid #000;
    text-decoration: none;
    position: relative;
    }
.linkautor:hover {
    top: 4px;
    }
