body{
    background: linear-gradient(-45deg, #1a1a1a, #333333, #474747, #595959, #737373);
    background-size: 1000% 1000%;
    position: relative;
    animation: change 5s ease-in-out infinite;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%; 
    }
    100%{
        background-position: 0 50%;
    }

}

.main
{
    margin: 250px;
}
